footer {
	background: #333;
	position: relative;
	z-index: 111;
	color: #999;
}
footer a {
	color: #36d7b7;
}
footer h3 {
	padding-bottom: 20px;
	color: #fff;
}
footer hr {
	border-top: 1px solid #4e4e4e;
	margin: 40px 0 0 0;
}
footer p span {
	color: #fff;
}
footer>.container>.row:first-child {
	padding: 45px 0;
}
footer .text-center {
	padding: 40px 0;
	margin: 0;
}
footer .form-group {
	width: 90%;
}
footer button.btn-info {
	position: relative;
	top: 10px;
}
footer button.btn-info:focus {
	outline: none;
}
.copyright {
	background-color: #f8f8f8;
	color: #333;
	padding: 35px 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Calibri, Arial, sans-serif;
	position: relative;
	z-index: 200;
}
.three__blocks {
	padding-top: 50px !important;
	background: #f8f8f8;
	background-size: auto 100%;
	position: relative;
	z-index: 99;
}
.three__blocks.bottomer {
	background-position: left bottom;
	background-size: auto auto;
}
.three__blocks .container h3 {
	color: #2c3e50;
	margin-top: 40px;
}
.three__blocks .container h3 span {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	font-family: Calibri, Arial, sans-serif;
	text-transform: uppercase;
	display: block;
}.row {
	padding: 45px 0;
}
.col{
	padding: 50px;
    max-width: 100%;
    margin: 0;
    flex: 20%;
    
}


.new{
  margin: 0;
  padding: 0;
  background: url(matt-le-112706-unsplash.jpg) no-repeat;
  background-size: cover;
    
    height: 100vh;
            width: 100%;
            
            background-size: cover;
            display: table;
            background-attachment: fixed;
            
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
    color: white;}
  
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box, h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
    text-align: center;
}
.box, h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.te{text-align: center;}

.footer{ height: 200px;
text-align: center;
    vertical-align: middle;
}   
p{color: darkgray;
            font-size: 40px;
}
            h3,h5{color:#befaff;}
            body{text-align: center;}
            a{text-decoration: none;
            color: black;
            transition: ease-out 0.2s;
        }
            a:hover{color: #2d988d;}
            *{font-family: montserrat;}
            .right{
                
                float: right;
            }
            .logo{float: left;
            
            margin-top: 25px;
            margin-left: 20px;}
            .head {
                
                top: 1px;
                width: 100%;
                height: 120px;
                background-color:transparent;
                color: darkgrey;
                position: fixed;
                
                    }
            .right{margin-top: 50px;}
            .right2, .right3, .right4{
                margin-right: 35px;
                font-size: 20px;
                color: #14CCB9;
            }
            .right1{
                margin-right: 35px;
                font-size: 20px;
                color:#14CCB9;
            }
        
        body{
            margin: 0;
            padding: 0;
            background-color: #fffdf4;
        }    
        #box1{
            height: 100vh;
            width: 100%;
            background-image: url(matt-le-112706-unsplash.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
            color:white;
        }
        #box2{
            height: 100vh;
            width: 100%;
            background-image: url(i2.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            }

        .animate2{vertical-align: middle;
            display: table-cell;
            text-align: center;}
        .z span {
  
  text-decoration: none;
  
  display: block;
            
}
.z, .x {
  transition: 0.3s;  
   
}
.section-content{text-align: center;
vertical-align: middle;
display: table-cell;
background-size: cover;}
.z {
  height: 60px;
  font: normal normal 700 1em/4em montserrat,sans-serif;
  overflow: hidden;
  width: 100%;
    
}
.x{
  margin-top: 0em;   
}

.z:hover 
    .x{
  margin-top: -4em;
        
}
        
        #box3{
            height: 100vh;
            width: 100%;
            background-color: aliceblue;
            background-size: cover;
            display: table;
            background-attachment: fixed;
            vertical-align: middle;
            
            
        }
        #box4{
            height: 100vh;
            width: 100%;
            background-color: azure;
            background-size: cover;
            display: table;
            background-attachment: fixed;
            color:white;
        text-align: center;}
        #in{vertical-align: middle;
        display: table-cell;
        }
        #box5{
            height: 100vh;
            width: 100%;
            background-image: url(QW.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
            color:white;}
        #box6{
            height: 100vh;
            width: 100%;
            background-color: papayawhip;
            background-size: cover;
            display: table;
            background-attachment: fixed;
            color:black;
            
            
        }
        
       #box7{
            height: 100vh;
            width: 100%;
            
            background-size: cover;
            display: table;
            background-attachment: fixed;
            color:white;
        text-align: center;}
        
        h1{
            font-family: arial black;
            font-size: 50px;
            
            margin: 0px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        h2{
            font-family: arial black;
            font-size: 30px;
            vertical-align: middle;
            margin: 0px;
            text-align: center;
            display: table-cell;
            
        }
        
        
        
        .about{text-align: center;
        width: 300px;
            
        }
        .profile{text-align: center;}
       
        
        /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px;
    /* Gray border */
    
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  
  color: #07be7f;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
    background-color: aliceblue;
}
input[type=submit]:hover {
  background-color: #2d2d2d;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: px;
  background-color:#212121;
  padding: 20px;
}
        
        .q span {
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
}
        #animate{
            vertical-align: middle;
            display: table-cell;
        }

.q, .w {
  transition: 0.3s;     
}

.q {
  height: 60px;
  font: normal normal 700 1em/4em montserrat,sans-serif;
  overflow: hidden;
  width: 100%;
  
}
.w{
  margin-top: 0em;   
}

.q:hover 
    .w{
  margin-top: -4em;
        
}
        .footer{
            font-size: 11px;
        }
        
        
               .all {
box-sizing: border-box;
    font-family: sans-serif;
    color: cadetblue;
    text-align: center;
    
    
}
/* Container for flexboxes */
.row {
display: flex;
flex-wrap: wrap;
}
/* Create four equal columns */
.column {
flex: 20%;
padding: 50px;
margin: 10px;
    width: 250px;
    height: 250px;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
.column {
flex: 50%;
}
}
/* On screens that are 600px wide or less, make the columns stack on top of each
other instead of next to each other */
@media screen and (max-width: 600px) {
.row {
flex-direction: column;
}
}
   




#box6 {
  padding: 30px 0;
  position: relative;
}

.gallery {
  width: 1000px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}

.img-c {
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
  transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}
#totop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00ffeb; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
    width: 60px;
    height: 50px;
}

#totop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
